<!DOCTYPE html>
<html>
<head>
  <title>Metro Mapper</title>

  {% block head %}<!-- If needed to add more info to the header e.g. title, stylesheet -->

  {% endblock %}

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
<style>
    #map{
        height: 100%;
        width: 100%;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js">
</head>

<body>


  {% block content %}   <!-- A block that the child template will fill in -->
  {% endblock %}
  {% block scripts %}
  {% endblock %}
</body>
</html>