<!DOCTYPE html>
<html>
<head>
  <title>Metro Mapper</title>

  {% block head %}    <!-- If needed to add more info to the header e.g. title, stylesheet -->
  {% endblock %}

  <!-- Use Google fonts for nice text  -->
  <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">

</head>

<body>


  {% block content %}   <!-- A block that the child template will fill in -->

  {% endblock %}

  {% block scripts %}   <!-- If needed, to add scripts or links to scripts. -->
  {% endblock %}
</body>
</html>