{% extends "base.html" %}

{% block content %}
    {{header}}

    <select id="selected_route" name="radius">
        <option value=3>
            Default Radius
        </option>
        <option value=1>
            1 mile away
        </option>
        <option value=2>
            2 miles away
        </option>
        <option value=4>
            4 miles away
        </option>
    </select>
    <button id="show_button" class = "btn btn-primary" type="button">
        Show Close Buses
    </button>
{% endblock content %}

<!-- display any temporary flash messages  -->
{% for message in get_flashed_messages() %}
<p class='flashed_message'>{{ message}}</p>
{% endfor %}

